<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relatório da Aplicação</title>
</head>
<body>
    <h1>PDF Gerado a partir de um arquivo HTML</h1>
    <p>Este é um exemplo de um arquivo HTML que foi convertido para PDF.</p>
    <p>Este arquivo foi gerado a partir de um arquivo HTML que foi convertido para PDF.</p>
    <p>Este arquivo foi gerado a partir de um arquivo HTML que foi convertido para PDF.</p>
    <p>Este arquivo foi gerado a partir de um arquivo HTML que foi convertido para PDF.</p>
    <p>Este arquivo foi gerado a partir de um arquivo HTML que foi convertido para PDF.</p>
</body>
</html>